
@{
    ViewData["Title"] = "Index";
}

<h3 style="direction: ltr">
Hello--
    THis is a simple project for showing my code handwriting . and also some parts of it may help people .
    <br/>
    By Hossein Akbarzadeh
    <br/>
    Contact us works for testing with Web API
    <br/>
    Many Many Parts of my main project deleted. and this is just for test. So Project doesn't have proper UI .
    <a href="@Url.Action("Contact")">Contact Us WebAPI Form</a>

</h3>



